.loginform {
  position: fixed;
  width: 450px;
  height: 518px;
  z-index: 9000;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  animation-name: form-animation;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  top: 50%;
  left: 50%;
  margin-top: -259px; /* Negative half of height. */
  margin-left: -225px; /* Negative half of width. */
}

.form {
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 25px;
  gap: 10px;
}

@keyframes form-animation {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.login_header {
  text-align: center;
  margin: 0;
  padding: 0;
}

.form_input_box {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 100%;
}

.password_input_box {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 100%;
}

.form_btn {
  width: 100%;
  border-radius: 5px;
  background-color: #8e2de2;
  color: white;
  border: none;
  padding: 12px;
}

.form_btn:hover {
  background-color: #9c50e6;
}

.form_signup {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.form_link {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.form_link:hover {
  color: #8034f6;
  cursor: pointer;
}

.form_switch {
  display: flex;
  align-items: center;
  gap: 3px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .loginform {
    width: 300px;
    margin-left: -150px; /* Negative half of width. */
    height: 350px;
    margin-top: -175px;
    /* z-index: 10000; */
  }
  
}

@media screen and (max-width: 280px) {
  .loginform {
    width: 250px;
    height: 420px;
    left: calc(50% - 250px / 2);
    top: calc(50% - 420px / 2);
  }
}
