@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito:wght@200&family=Quicksand:wght@500&family=Roboto:wght@500&display=swap');

.dashboardContainer {
  height: 100vh;
  padding: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  height: 90%;
  border-radius: 50px;
  background-color: white;
  border: 2px solid black;
  padding: 2vh;
}

.userName {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif !important;
}

.comingSoon {
  text-align: center;
  font-size: 1.2rem;
}

.dashNav {
    z-index: 100;
    background: #8e2de2;
}

.infoPanel {
  /* margin: 5vh; */
  height: 100%;
  /* border: 2px solid black; */
}

.internalCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Set the desired width */
  height: auto; /* Allow the height to adjust automatically */
}

.icon {
  font-size: 5rem; /* Adjust the font size as needed */
}


@media only screen and (max-width: 480px) {
    .welcomeContainer {
        text-align: center !important;
    }

    #responsive-navbar-nav {
        display: flex !important;
        flex: 1 !important;
        justify-content: center !important;
        align-items: center !important;
    }
}

@media only screen and (max-width: 600px) {
  .dashboardContainer {
    height: 100vh;
    padding: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



@media only screen and (max-width: 320px) {

    .dashy {
          background-color: grey !important;
          display: flex !important;
          flex: 1 !important;
          justify-content: center !important;
          align-items: center !important;
        }
      
}
