@media only screen and (max-width: 995px) {
    .product2FlexContainer {
        display: flex;
        flex-direction: column;
    }
}

.aboutSection {
    padding-top: 90px;
    /* height: 100vh; */
  }