.product2Img {
  /* height: 600px;
  width: 400px; */
  height: 100%;
  width: 55%;
}

.chakrasImg {
  height: 100%;
  width: 80%;
}

.imageSize {
  height: 85%;
  width: 75%;
  background-color: #1a192e;
  border-radius: 50%;
}

.davinciImg {
  height: 100%;
  width: 75%;
  border-radius: 10px;
}

.pic2 {
  object-fit: contain;
  padding: 0;
  object-position: 50% 50%;
}

@media only screen and (max-width: 1200px) {
  .imageSize {
    height: 65%;
    width: 90%;
  }

  .product2Img {
    height: 75%;
    width: 80%;
  }

  /* .davinciImg {
    width: 80%;
    height: 80%;
  } */
}

@media only screen and (max-width: 995px) {
  .imageSize {
    height: 75%;
    width: 75%;
  }

  .davinciImg {
    height: 65%;
    width: 55%;
  }

  .product2Img {
    height: 65%;
    width: 55%;
  }

  .pic2 {
    height: 400px;
    width: 400px;
    object-fit: contain;
    padding: 0;
    object-position: 50% 50%;
  }
}

@media only screen and (max-width: 790px) {
  .imageSize {
    height: 80%;
    width: 80%;
  }

  .pic2 {
    height: 50%;
    width: 50%;
    object-fit: contain;
    padding: 0;
    object-position: 50% 50%;
  }
}

@media only screen and (max-width: 480px) {
  .imageSize {
    height: 85%;
    width: 85%;
  }
  .product2Img {
    height: 500px;
    width: 300px;
  }
}
