.title {
  text-align: center;
}

.journeydescription {
  font-family: 'Roboto', sans-serif !important;
  font-size: 17px !important;
  text-align: center;
}

.descriptioncontainer {
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.notdisplayed {
  display: none;
}

.displayed {
  display: flex;
  height: 20px;
  margin: auto;
}

/* .App {
    background: url(../images/background.png);
    background-size: cover;
} */

.whitetext {
  color: #fff;
}

.background {
  opacity: 10%;
  background-color: grey;
}
/* .body {
  position: absolute;
  bottom: 2%;
  left: 2%;
  width: 50%;
  font-size: 120%;
} */

.body {
  position: absolute;
  display: flex;
  bottom: 2%;
  left: 2%;
  width: 50%;
  font-size: 120%;
}

.test {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50%;
  left: 25%;
  width: 50%;
  font-size: 120%; 
  color: white
}

.click {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  display: none;
}

.journeyimg {
  cursor: pointer;
  width: 100%;
}

.journeyimg::before {
  content: attr(data-tooltip);
 
}

.journeyimg:hover {
  transition: 0.25s ease-in;
  opacity: 0.7;
}

.button {
  position: absolute;
  bottom: 12%;
  right: 7%;
  width: 15%;
  cursor: pointer;
  color: white;
}

.button:hover {
  color: grey;
}