.title {
  text-align: center;
}

/* .App {
    background: url(../images/background.png);
    background-size: cover;
} */

.whitetext {
  color: #fff;
}

.background {
  opacity: 10%;
  background-color: grey;
}
.body {
  position: absolute;
  bottom: 2%;
  left: 2%;
  width: 50%;
  font-size: 120%;
}

.button {
  position: absolute;
  bottom: 12%;
  right: 7%;
  width: 15%;
}
