.mainbackground {
  min-height: 90px;
  /* width: 88vw; */
  /* background: rgba(255, 255, 255, 0.824); */
  border-radius: 45px;
  z-index: 2 !important;
}

.navbarbrand {
  font-size: 22px !important;
}

#itemfont {
  align-items: center;
}

#itemfont > * {
  font-size: 16px !important;
}

#buttonspacing {
  margin-left: 45px !important;
}

#linkspacing > * {
  margin-right: 20px !important;
}

@media only screen and (max-width: 980px) {
  #buttonspacing {
    margin-left: 0px !important;
    margin-right: 10px !important;
  }
}
