.title {
  text-align: center;
}

/* TEST */
.testimonialFlexContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.testimonialFlexItem1 {
  width: 450px;
  height: 250px;

  background: url("../../images/cloud1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonialFlexItem1:after {
  content: "";
  display: block;
  width: 200px;
  height: 120px;
  padding: 20px 10px 5px 10px;
  animation: testimonialFlexItem1Anim 12s linear infinite;
}

@keyframes testimonialFlexItem1Anim {
  0% {
    content: "\"If you are looking for something mood changing the most natural way then you definitely are in the right place!\"";
    opacity: 100%;
  }
  25% {
    opacity: 40%;
  }
  35% {
    opacity: 70%;
  }
  50% {
    content: "\"At long last - this app is like partnering with an alter ego to help me sleep, create, and study better.\"";
    opacity: 100%;
  }
  65% {
    opacity: 40%;
  }
  75% {
    opacity: 20%;
  }
  100% {
    content: "\"If you are looking for something mood changing the most natural way then you definitely are in the right place!\"";
    opacity: 100%;
  }
}

.testimonialFlexItem2 {
  width: 450px;
  height: 250px;

  background: url("../../images/cloud3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonialFlexItem2:after {
  content: "";
  display: block;
  width: 200px;
  height: 120px;
  padding: 20px 10px 5px 10px;
  animation: testimonialFlexItem2Anim 12s linear infinite;
}

@keyframes testimonialFlexItem2Anim {
  0% {
    content: "\"I pop in my AirPods and whether I’m at work or home I can choose what I want according to my mood.\"";
    opacity: 100%;
  }
  25% {
    opacity: 40%;
  }
  35% {
    opacity: 70%;
  }
  50% {
    content: "\"They help me calm my mind while I meditate\"";
    opacity: 100%;
  }
  65% {
    opacity: 40%;
  }
  75% {
    opacity: 20%;
  }
  100% {
    content: "\"I pop in my AirPods and whether I’m at work or home I can choose what I want according to my mood.\"";
    opacity: 100%;
  }
}

.testimonialFlexItem3 {
  width: 450px;
  height: 250px;

  background: url("../../images/cloud4.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonialFlexItem3:after {
  content: "";
  display: block;
  width: 200px;
  height: 120px;
  padding: 20px 10px 5px 10px;
  animation: testimonialFlexItem3Anim 12s linear infinite;
  animation-delay: 2s;
}

@keyframes testimonialFlexItem3Anim {
  0% {
    content: "\"It is so user friendly and easy that you don't have to understand frequencies and binaural beats to use it and benefit from it.\"";
    opacity: 100%;
  }
  25% {
    opacity: 40%;
  }
  35% {
    opacity: 70%;
  }
  50% {
    content: "\"I can use it while my music plays on my phone and adjust my settings whenever I want.\"";
    opacity: 100%;
  }
  65% {
    opacity: 40%;
  }
  75% {
    opacity: 20%;
  }
  100% {
    content: "\"It is so user friendly and easy that you don't have to understand frequencies and binaural beats to use it and benefit from it.\"";
    opacity: 100%;
  }
}

/* Test */

/* .testimonialSubtitle {
  font-family: "Roboto", sans-serif !important;
  font-size: 1.125rem !important;
  margin-bottom: 2rem !important;
  line-height: 2rem;
  text-align: center;
} */
/* 
.testimonialPClass {
  font-family: "Roboto", sans-serif !important;
  font-size: 1rem !important;
  line-height: 2rem;
} */

.testimonialSection {
}

.testimonialSection h3 {
  text-align: center;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 480px) {
  .testimonialFlexItem1:after,
  .testimonialFlexItem2:after,
  .testimonialFlexItem3:after {
    font-size: 0.92rem !important;
    padding: 28px 10px 5px 10px;
  }
}

@media only screen and (max-width: 320px) {
  .testimonialFlexItem1:after,
  .testimonialFlexItem2:after,
  .testimonialFlexItem3:after {
    font-size: 0.65rem !important;
    padding: 48px 10px 5px 10px;
  }
}
