@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.sectioncontainer {
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top:5vh;
}

.textbox {
    background-color: rgba(241, 241, 241, 0.0);
    /* padding: 20px; */
}

.gap {
    height: 2.5vh;
}

.desctext {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    margin: 20px;
}

.greencricleimage {
    position: relative;
    max-width: 500px;
  }


.bigtext {
    font-size: 3rem;
    color: black !important;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 2.5vh;
}

.buttonsize {
    width: 170px !important;
    text-transform: uppercase;
    /* background-color: #8e2de2 !important; */
    background-color: #8e2de2 !important;
    transition: all 250ms linear;
    font-size: 1rem !important;
    border: none !important;
    color: #FFFF !important;
    font-weight: 700 !important;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
  }

@media only screen and (max-width: 995px) {
    .product0FlexContainer {
        display: flex;
        flex-direction: column;
    }
}
