.chakra {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 25px 0px 25px;
  overflow: hidden;
}

.dropdown {
  padding: 10px !important;
}

.dropdownItem {
  padding: 10px 2px !important;
}

.tool {
  color: blue;
}

.chakra_img {
  width: 130px;
  height: 130px;
  border-radius: 15%;
}

.qrImg {
  width: 100px;
  height: 100px;
}

.chakra_section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.chakra_section2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chakra_desc {
  font-family: "Roboto", sans-serif !important;
  padding: 0;
  margin: 0;
}

.moods {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 10px 0px 10px 0px;
  padding: 6px;
  gap: 10px;
}

.moods p {
  margin: 0;
}

.chakra_impact {
  display: flex;
  padding: 6px;
  gap: 10px;
}

.chakra_header_container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.glands_and_organs {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}

.glands_and_organs_item {
  background-color: #57708c;
}

.sound_healing {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0px 0px 15px 0px;
}

@media only screen and (max-width: 995px) {
  .chakra {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .chakra_img {
    width: 100px;
    height: 100px;
  }

  .h1class {
    font-size: 45px !important;
  }

  .pclass {
    font-size: 15px !important;
  }


  
}

@media only screen and (max-width: 500px) {
  .chakra_desc {
    font-size: 0.9rem;

  }

  .chakra {
    margin: 0;
    padding: 5px 10px;
  }

  .chakra_section1 {
    flex-direction: column;
    gap: 10px;
  }

  .moods {
    gap: 20px;
  }
  .glands_and_organs {
    gap: 20px;
    padding: 5px;
  }

  .sound_healing {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 0px;
  }
  .qrImg {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 300px) {
  .chakra_img {
    width: 60px;
    height: 60px;
  }

  .chakra_desc {
    font-size: 0.7rem;
  }

  .moods_text {
    font-size: 0.7rem;
  }

  .chakra_h3 {
    font-size: 1rem;
  }

  .chakra {
    display: flex;
    flex-direction: column;
    width: 100vw;

    margin: 0;
  }

  .sound_healing_qr {
    width: 50px;
  }

  .qrImg {
    width: 50px;
    height: 50px;
  }
}
